

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
}

body {
  background-color: #f5ebe0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.section {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 100px;
}

.description {
  font-size: 30px;
}

.breakline {
  width: 80%;
  height: 1px;
  background-color: #D6CCC2;
}

.subtitle {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.examples li img {
  overflow: hidden;
  border-radius: 10px;
}

.examples li a {
  font-size: 20px;
  font-weight: 100;
}

.examples li {
  list-style: none;

  width: 500px;
  height: 500px;

  background-color: #E3D5CA;
  border-radius: 20px;

  margin: 20px;
  padding: 20px;
  
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  gap: 10px;
  transition: box-shadow 1s;
  box-shadow: 0px 10px 2px 1px #D5BDAF;
}